<!doctype html>
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="SPO Obst">
	<meta name="author" content="Nik">
	<title>SPO Obst</title>
	<link rel="stylesheet" href="css/main.css"></link>
	<script src="js/index.js"></script>
</head>
<body>
	<header></header>
</body>

